API_ID=12345678
API_HASH=your_api_hash_here
BOT_TOKEN=your_bot_token_here
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/fessbot
MAIN_CHANNEL_ID=-1001234567890
MAIN_CHANNEL_USERNAME=nama_channel_utama
OWNER_ID=123456789
BOT_USERNAME=nama_bot_kamu

OWNER_USERNAME=username_owner
OWNER_NAME=Nama Owner
BOT_NAME=FessBot
BOT_DESC=Auto Repost Bot

# Opsional (ada default)
FLOOD_SLEEP_THRESHOLD=60
BROADCAST_DELAY=0.05
